* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
}
body {
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}
header {
  display: flex;
  justify-content: space-between;
}

.header-name {
  padding: 1vh;
  display: flex;
  background-color: #2b9dff;
  border-radius: 5vh;
  margin: 5vh 0vh 2vh 5vh;
  height: 6vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-name h3 {
  margin: 25px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: lighter;
}

.top-section {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top-section h1 {
  margin: 0vh 7vh 5vh;
  font-size: 50px;
  font-weight: 100;
  color: #2b9dff;
}
.top-section img {
  align-items: center;
  justify-content: center;
  width: 70%;
}

.top-section a {
  text-decoration: none;
  margin: auto;
  display: block;
  color: #2b9dff;
  border: 2px solid #2b9dff;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
  background-color: white;
}

.top-section a:hover {
  transform: scale(1.3);
  transition: transform 0.1s;
  background-color: #2b9dff;
  color: white;
  box-shadow: 5px 5px 10px #2b9dff;
}

.middle-section {
  justify-content: space-evenly;
  text-align: center;
  justify-content: center;
}

.middle-section h1 {
  margin: 5vh 0vh 5vh;
  font-size: 50px;
  font-weight: 100;
  color: #2b9dff;
}

.middle-section a i {
  margin: 1rem;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 5px 5px 5px;
}
.middle-section .fb {
  color: #2b9dff;
}

.middle-section .insta {
  color: #d10f7a;
}
.middle-section .wa {
  color: green;
}
.middle-section .twitter {
  color: #2b9dff;
}
.middle-section .tele {
  color: #0070d3;
}
.middle-section .reddit {
  color: #ff3e3e;
}
.middle-section .linked {
  color: #0070d3;
}
.middle-section .github {
  color: green;
}

.middle-section a i:hover {
  transform: scale(1.3);
  transition: transform 0.1s;
  margin: 1rem;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: -5px -5px 5px;
}

.bottom-section {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.bottom-section h1 {
  margin: 5vh 5vh 5vh;
  font-size: 50px;
  font-weight: 100;
  color: #2b9dff;
  text-align: center;
}

.bottom-section a {
  text-decoration: none;
}
.bottom-section img {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bottom-section .internal-div {
  width: 80%;
}
.bottom-section .internal-div .project-links {
  display: flex;
  flex-direction: column;
}
.bottom-section .internal-div .project-links a {
  font-size: 3rem;
}
.bottom-section .internal-div .project-links a:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

footer {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
footer h4 {
  font-size: 1rem;
  font-weight: 500;
}
footer a {
  text-decoration: none;
  color: #2b9dff;
  border: 2px solid #2b9dff;
  border-radius: 6px;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  padding: 0rem 1rem;
}

footer a:hover {
  transform: scale(1.3);
  transition: transform 0.1s;
  cursor: pointer;
  background-color: #2b9dff;
  color: white;
  box-shadow: 5px 5px 10px #2b9dff;
}

@media all and (min-width: 1000px) {
  .top-section {
    display: flex;
  }
  .top-section img {
    width: 50%;
  }
  .bottom-section img {
    width: 50%;
    float: right;
  }
  .bottom-section .internal-div {
    display: flex;
  }
}
